body {
  background-color: #c0ced8;
}

h1, h2, p {
  font-family: 'Rationale', sans-serif;
;
  text-align: center;
}

img {
  width: 400px;
}

label {
  font-family: 'Rationale', sans-serif;

}

span {
  font-weight: bolder;
}

.answers {
  text-align: center;
}

.container {
  border: 2px solid black;
}

#css,#c,#java{
  display: none;
}
